@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=BBH+Bartle&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Niconne&display=swap');

body{
  font-family: "Poppins", sans-serif;
}



@import '../node_modules/@syncfusion/ej2-base/styles/tailwind3.css';
@import '../node_modules/@syncfusion/ej2-buttons/styles/tailwind3.css';
@import '../node_modules/@syncfusion/ej2-inputs/styles/tailwind3.css';
@import '../node_modules/@syncfusion/ej2-lists/styles/tailwind3.css';
@import '../node_modules/@syncfusion/ej2-navigations/styles/tailwind3.css';
@import '../node_modules/@syncfusion/ej2-popups/styles/tailwind3.css';
@import '../node_modules/@syncfusion/ej2-splitbuttons/styles/tailwind3.css';
@import '../node_modules/@syncfusion/ej2-richtexteditor/styles/tailwind3.css';;

.custom-rte {
  border-radius: 12px !important;  /* change as needed */
  overflow: hidden;                /* important */
}

.custom-rte .e-toolbar {
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

.custom-rte .e-rte-content {
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
}


@import "tailwindcss";